<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Trainer Name</h2>
                    <p><b>Varnan Alias Vellaivaranan sir</b></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Team Members</h2>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/adiitya007"><b>Mr. Aditya Jadhav</b></a></li>
                        <li><b>Mr. Satyam Ghodake</b></li>
                        <li><b>Mr. Vishvesh Bhandare</b></li>
                        <li><b>Mr. Krushnat Pokale</b></li>
                    
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Welcome to Fruitables, where freshness meets convenience! At Fruitables, 
                        we take pride in delivering the finest selection of fresh, tasty,
                         and seasonal fruits and vegetables right to your doorstep. 
                        <!--Our mission is to make it easy for you to enjoy the goodness of nature without compromising on quality.</p>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>Vidyanagar, near SGM College, Karad 415101 .</li>
                        <li>support&#64;fruitables.com</li>
                        <li>+91 111 222 3333</li>
                    </ul>
                </div>
            </div>
           
           
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Connect us on LinkedIn - <a href="https://www.linkedin.com/in/adiitya007">Aditya Jadhav</a>, 
                    <a href="">Satyam Ghodake</a>,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">Vishvesh Bhandare</a>,
                    <a href="">Krushnat Pokale</a>
                    <br>
                   
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->
