
<body>
    <!--Technologies used start-->
		<div class="container ml-auto" >	
			<div class="section">		
            <div class="row justify-content-end">
				<div class="col-md-6 col-xl-7" style="margin-top: 210px;">
				<div class="tech-card">
					<h2> <span style="color:chocolate">Technologies </span> <span style="color: beige;">used</span></h2>
					<ul> 
						<li><b>Frontend :</b> <p>HTML, CSS,Bootstrap,JavaScript</p></li>
						<li><b>Backend :</b> <p>Java</p></li>
						<li><b>Database :</b> <p>MySQL</p></li>
						<li><b>Framework :</b> <p>Angular,Spring boot</p></li>
					</ul>
				</div>
                <!--Technologies used end-->
                <!--Team members start-->
				<div class="memcontainer">
					<div class="mcontainer">
						<h2> <span style="color:chocolate">Team </span> <span style="color: beige;"> members</span></h2>
						<div class="imgcenter">
						<div class="team">
                         <img [src]="adityaURl" alt="aditya">
						 <img [src]="satyamURL" alt="satyam" >
						 <img [src]="krushnatURL" alt="krushnat" >
						 <img [src]="vishveshURL" alt="vishvesh" >
						</div>
					</div>
				</div>
				</div>
                <!--team members end-->
				</div>
			<div class="row justify-content-end">				
				<div class="col-10 text-center align-self-right py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-end">
                        <br>
                        <br>
						<h6 class="mb-0 pb-3"><span style="color:whitesmoke">Log In </span><span style="color:whitesmoke    ">Sign Up</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
                                
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
                                           
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="form-group">
                                                
												<input type="email" class="form-style" placeholder="Email" required />
                                          
												<i class="input-icon uil uil-at"></i>
											</div>
                                            	
											<div class="form-group mt-2">
												<input type="password" class="form-style" placeholder="Password" required />
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a routerLink="/home"class="btn mt-4">Login</a>
                    						  <p class="mb-0 mt-4 text-center"><a href="#" class="link">Forgot your password?</a></p>
											  <p class="mb-0 mt-4 text-center"><a routerLink="/admin" class="link">Login as admin</a></p>
                    
				      					</div>
                                        
			      					</div>
			      				</div>
                            
								<div class="card-back"> 
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-3 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" class="form-style" placeholder="Full Name">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="tel" class="form-style" placeholder="Phone Number">
												<i class="input-icon uil uil-phone"></i>
											</div>	
                      						<div class="form-group mt-2">
												<input type="email" class="form-style" placeholder="Email">
												<i class="input-icon uil uil-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" class="form-style" placeholder="Password">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a href="#" class="btn mt-4">Register</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
		
	</div>
</body>
