<div class="container pl-100">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h4 class="orange-text">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>

                <div class="position-relative mx-auto d-flex justify-content-center text-center">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="text" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary rounded-pill text-white h-100" style="right: 25%;">Submit Now</button>
                </div>
                
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- product section -->
<div class="product-gap">
<div class="product-section mt-50 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <label>F R U I T S</label>
                <br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
                    </div>
                    <h3>Strawberry</h3>
                    <p class="product-price"><span>Per Kg</span> 90₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/product-img-2.jpg" alt=""></a>
                    </div>
                    <h3>Berry</h3>
                    <p class="product-price"><span>Per Kg</span> 300₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/product-img-3.jpg" alt=""></a>
                    </div>
                    <h3>Lemon</h3>
                    <p class="product-price"><span>Per Kg</span> 170₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/banana.jpg" alt=""></a>
                    </div>
                    <h3>Banana</h3>
                    <p class="product-price"><span>Per Dozen </span> 40₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/orange.jpg" alt=""></a>
                    </div>
                    <h3>Oranges</h3>
                    <p class="product-price"><span>Per Kg</span> 120₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/grapes.jpg" alt=""></a>
                    </div>
                    <h3>Grapes</h3>
                    <p class="product-price"><span>Per Kg</span> 55₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/mango.jpg" alt=""></a>
                    </div>
                    <h3>Mango</h3>
                    <p class="product-price"><span>Per Dozen</span> 550₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/apple.jpg" alt=""></a>
                    </div>
                    <h3>Apples</h3>
                    <p class="product-price"><span>Per Kg</span> 320₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/pineapple.jpg" alt=""></a>
                    </div>
                    <h3>Pineapple</h3>
                    <p class="product-price"><span>Per Kg</span> 35₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/guava.jpg" alt=""></a>
                    </div>
                    <h3>Guava</h3>
                    <p class="product-price"><span>Per Kg</span> 80₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/watermelon.jpg" alt=""></a>
                    </div>
                    <h3>Watermelon</h3>
                    <p class="product-price"><span>Per Piece</span> 35₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/pomegranate.jpg" alt=""></a>
                    </div>
                    <h3>Pomegranate</h3>
                    <p class="product-price"><span>Per Kg</span> 130₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

            <div class="col-lg-8 offset-lg-2 text-center">
                <label class="veges">V E G E T A B L E S</label>
                <br><br>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/onion.jpg" alt=""></a>
                    </div>
                    <h3>Onoin</h3>
                    <p class="product-price"><span>Per Kg</span> 20₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i>Add to Cart</a>          
                      </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/tomato.jpg" alt=""></a>
                    </div>
                    <h3>Tomato</h3>
                    <p class="product-price"><span>Per Kg</span> 25₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/brinjal.jpg" alt=""></a>
                    </div>
                    <h3>Brinjal</h3>
                    <p class="product-price"><span>Per Kg</span> 20₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/carrot.jpg" alt=""></a>
                    </div>
                    <h3>Carrot</h3>
                    <p class="product-price"><span>Per Kg</span> 30₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/potato.jpg" alt=""></a>
                    </div>
                    <h3>Potato</h3>
                    <p class="product-price"><span>Per Kg</span> 15₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="assets/img/products/garlic.jpg" alt=""></a>
                    </div>
                    <h3>Garlic</h3>
                    <p class="product-price"><span>Per Kg</span> 100₹ </p>
                    <a href="cart.html" class="button-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>

    
        </div>
    </div>
</div>
</div>
<!-- end product section -->